# ping-shutdown.service
#
# Make sure the ExecStart command is correct
# for your installation.
#

[Unit]
Description=ping-shutdown
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/ping-shutdown 192.168.10.1 15

[Install]
WantedBy=multi-user.target
